<%- include ("partials/header") %>

<h1>Landing page</h1>
<a href="/campgrounds/new">Add new campground!</a>
<p>Welcome to YelpCamp</p>
<a href="/campgrounds">View all campgrounds</a>

<%- include ("partials/footer") %>